<div class="container">
  
  <div *ngIf="!userList">
    <h1 class="align"> No Records Available </h1>
  </div>
  <div *ngIf="userList">
  <table  class="table table-hover mt-5 table table-success table-bordered border-primary table-striped">
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">UserName</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
 

    <tr *ngFor="let user of userList">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address.city}}</td>
    </tr>
</table>
</div>
  
</div>
